*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_grid{
    width: 100%;
    height: 100vh; 
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:repeat(7,1fr);
   
    background-color: #FBF3F2;
}

.container_grid :first-child{ /*aside*/
    grid-area: 1/1/10/2; 
   
  
}
.container_grid .nav:nth-child(2) /*nav*/
{
    display: flex;
    justify-content: space-around;
    grid-area: 1/2/2/7;
    background-color: #D9D9D9;
}
.container_grid .trescuadros:nth-child(3) /*cuadros 3 juntos*/
{
   
    grid-area: 2/2/5/7;
    background-color: #D9D9D9;
}
.container_grid .uncuadro:nth-child(4) /*cuaro solo*/
{
   
    grid-area: 5/2/8/7;
    background-color: #D9D9D9;
}

.firstchild{
    width: 100%;
    
}
.firstchild img{
    width: 100%;
}
/*FIN ESTILOS ASIDE*/

/*INICIO ESTILOS NAV*/



.nav .barrabusqueda{
    display: flex;
    width: 400px;
    height: 30px;
    background-color:white;
    align-self: center;
    border-radius: 20px;
    
}
.nav .barrabusqueda .material-symbols-outlined{
    margin-left: 360px;
}

.nav .botonesnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    height: 100%;
}

.nav .botonesnav .boton{
    width: 70px;
    height: 20px;
    text-align: center;
    color: #FA991C;
    
}
/*FIN ESTILOS NAV*/

/*INICIO ESTILOS TRES CUADROS*/

.trescuadros{
    display: flex;
    justify-content: space-around;
}

.trescuadros .cuadro{
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    
}
.trescuadros .cuadro img{
    width: 100%;
    border-radius: 25px;
}
.trescuadros .cuadro p{
    font-family: 'Irish Grover', cursive;
    font-size: 48px;
    color: #FA991C;
    text-align: center;
}
.trescuadros .cuadro #img1{
   object-fit: cover;
    height: 200px;
    
}

.uncuadro .cuadro
{
    width: 300px;
    height: 250px;
    background-color:white;
    border-radius: 10px;
    border-radius: 10px;
    margin-left: 35px;
}
.uncuadro .cuadro #img1{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 25px;
    
}
.uncuadro .cuadro p{
    font-family: 'Irish Grover', cursive;
    font-size: 48px;
    color: #FA991C;
    text-align: center;
}
